In [20]:
import pandas as pd
import glob, os

In [21]:
data_pdth = [file_name for file_name in glob.glob(os.getcwd()+'/*') if 'csv' in file_name]
df = pd.read_csv(data_pdth[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PartitionKey    995 non-null    object
 1   RowKey          995 non-null    object
 2   source          995 non-null    object
 3   title           995 non-null    object
 4   description     995 non-null    object
 5   instructor      14 non-null     object
 6   level           995 non-null    object
 7   role            994 non-null    object
 8   product         988 non-null    object
 9   duration        995 non-null    object
 10  rating_count    995 non-null    object
 11  rating_average  995 non-null    object
 12  url             995 non-null    object
dtypes: object(13)
memory usage: 101.2+ KB

In [22]:
df.duration.unique()

array(['44', '82', '59', '54', '66', '28', '87', '40', '70', '22', '80',
       '46', '62', '49', '65', '43', '56', '45', '30', '60', '16', '19',
       '41', '72', '63', '36', '32', '69', '25', '77', '50', '37', '47',
       '38', '74', '53', '104', '17', '18', '52', '35', '21', '42', '91',
       '24', '68', '23', '73', '39', '29', '76', '64', '55', '34', '27',
       '75', '51', '122', '108', '90', '12', '10', '61', '1', '3', '5',
       '2', '3 months', '4 months ', '2 months ', '4 months', '3 Months',
       '1 month', '2 months'], dtype=object)

In [23]:
df.rating_average.unique()

array(['4.9', '4.31', '4.75', '4.63', '4.7', '4.74', '4.77', '4.65',
       '4.6', '4.71', '4.76', '0', '4.85', '4.27', '4.73', '4.91', '4.72',
       '4.8', '4.81', '4.69', '4.68', '4.79', '4.67', '4.57', '4.82',
       '4.64', '4.78', '4.66', '4.83', '5.0', '4.58', '4.59', '4.61',
       '4.88', '4.56', '4.5', '4.62', '4.84', '3.8', '3.9', '4.3', '4.4',
       '4.2', ' ', '700', '400', '600', '800', '200', '200 ', '550',
       '250 '], dtype=object)

In [24]:
df.rating_count.unique()

array(['41', '32', '4523', '147', '27', '141', '3821', '1340', '25',
       '1029', '5261', '544', '0', '292', '13', '327', '22', '3459', '68',
       '288', '1848', '1706', '134', '3301', '778', '1120', '45', '97',
       '48', '320', '243', '2779', '424', '42', '3395', '992', '429',
       '247', '648', '51', '464', '714', '73', '788', '254', '1919',
       '2179', '38', '244', '703', '1119', '1512', '578', '1425', '137',
       '248', '1457', '273', '800', '118', '604', '112', '31', '814',
       '401', '7797', '8', '717', '144', '851', '229', '1978', '49',
       '1004', '12', '504', '241', '522', '187', '378', '2061', '318',
       '1868', '330', '1289', '1998', '94', '2869', '915', '1201', '287',
       '345', '1136', '581', '217', '736', '1283', '10997', '1614', '956',
       '59', '106', '758', '17', '628', '36', '131', '756', '2435',
       '2352', '7268', '450', '33', '572', '1855', '283', '197', '702',
       '10', '721', '157', '1871', '208', '178', '43', '1744', '21',
       '139', '2103', '170', '540', '550', '125', '101', '56', '28',
       '115', '132', '510', '325', '24', '525', '95', ' ', '4.6', '4.2',
       '4.6 ', '4.4 ', '4.7 ', '4.5', '4.5 '], dtype=object)

In [25]:
for idx in df.index:
    if len(df.duration[idx])>3:
        df.duration[idx] = 40 * int(df.duration[idx].split(' ')[0])
    
    if  df.rating_count[idx]==' ':
        df.rating_count[idx] = 0
    
    if  df.rating_average[idx]==' ':
        df.rating_average[idx] = 0

In [26]:
df.tail()

,PartitionKey,RowKey,source,title,description,instructor,level,role,product,duration,rating_count,rating_average,url
990,ud-learn,f2eb532e-fcec-40b2-addc-23618672865a,Udacity,SQL,Perform analysis on data stored in relational ...,NaN,beginner,"Data Analyst, Product Analyst, Business Analys...","SQL, noSQL",80,4.5,200,https://www.udacity.com/course/learn-sql--nd072
991,ud-learn,41408788-5bc9-4e17-a349-918c9398c21c,Udacity,Flying Car and Autonomous Flight Engineer,"In this program, you’ll learn the core concept...",NaN,advanced,": Unmanned Aircraft Software Engineer, Softwar...","Python, C++",160,4.6,200,https://www.udacity.com/course/flying-car-nano...
992,ud-learn,5c361181-b064-412c-9497-0444e544a1e2,Udacity,Intro to Self-Driving Cars,"In this program, you’ll sharpen your Python sk...",NaN,intermediate,engineer,"Tensorflow, Keras, ROS, C++, Python",160,4.7,550,https://www.udacity.com/course/intro-to-self-d...
993,ud-learn,851bb622-77b5-488a-8c91-e4fbfe484852,Udacity,Artificial Intelligence,This program will teach you how to become a be...,NaN,intermediate,AI engineer,Python,120,4.5,250,https://www.udacity.com/course/ai-artificial-i...
994,ud-learn,b2d2ad39-10f3-4513-90a5-f1b3d9bf430a,Udacity,AI Programming with Python,This program focuses on the fundamental buildi...,NaN,beginner,engineer,Python,120,4.6,800,https://www.udacity.com/course/ai-programming-...

In [27]:
df.to_csv('course_cleaned.csv',index=False)