In [2]:
import pandas as pd
import glob, os

In [19]:
data_pdth = [file_name for file_name in glob.glob(os.getcwd()+'/*') if 'csv' in file_name]
df = pd.read_csv(data_pdth[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PartitionKey    995 non-null    object
 1   RowKey          995 non-null    object
 2   source          995 non-null    object
 3   title           995 non-null    object
 4   description     995 non-null    object
 5   instructor      14 non-null     object
 6   level           995 non-null    object
 7   role            994 non-null    object
 8   product         988 non-null    object
 9   duration        995 non-null    object
 10  rating_count    995 non-null    object
 11  rating_average  995 non-null    object
 12  url             995 non-null    object
dtypes: object(13)
memory usage: 101.2+ KB

In [20]:
df.duration.unique()

array(['44', '82', '59', '54', '66', '28', '87', '40', '70', '22', '80',
       '46', '62', '49', '65', '43', '56', '45', '30', '60', '16', '19',
       '41', '72', '63', '36', '32', '69', '25', '77', '50', '37', '47',
       '38', '74', '53', '104', '17', '18', '52', '35', '21', '42', '91',
       '24', '68', '23', '73', '39', '29', '76', '64', '55', '34', '27',
       '75', '51', '122', '108', '90', '12', '10', '61', '1', '3', '5',
       '2', '3 months', '4 months ', '2 months ', '4 months', '3 Months',
       '1 month', '2 months'], dtype=object)

In [21]:
for idx in df.index:
    if len(df.duration[idx])>3:
        df.duration[idx] = 40 * int(df.duration[idx].split(' ')[0])

In [22]:
df.tail()

,PartitionKey,RowKey,source,title,description,instructor,level,role,product,duration,rating_count,rating_average,url
990,ud-learn,f2eb532e-fcec-40b2-addc-23618672865a,Udacity,SQL,Perform analysis on data stored in relational ...,NaN,beginner,"Data Analyst, Product Analyst, Business Analys...","SQL, noSQL",80,4.5,200,https://www.udacity.com/course/learn-sql--nd072
991,ud-learn,41408788-5bc9-4e17-a349-918c9398c21c,Udacity,Flying Car and Autonomous Flight Engineer,"In this program, you’ll learn the core concept...",NaN,advanced,": Unmanned Aircraft Software Engineer, Softwar...","Python, C++",160,4.6,200,https://www.udacity.com/course/flying-car-nano...
992,ud-learn,5c361181-b064-412c-9497-0444e544a1e2,Udacity,Intro to Self-Driving Cars,"In this program, you’ll sharpen your Python sk...",NaN,intermediate,engineer,"Tensorflow, Keras, ROS, C++, Python",160,4.7,550,https://www.udacity.com/course/intro-to-self-d...
993,ud-learn,851bb622-77b5-488a-8c91-e4fbfe484852,Udacity,Artificial Intelligence,This program will teach you how to become a be...,NaN,intermediate,AI engineer,Python,120,4.5,250,https://www.udacity.com/course/ai-artificial-i...
994,ud-learn,b2d2ad39-10f3-4513-90a5-f1b3d9bf430a,Udacity,AI Programming with Python,This program focuses on the fundamental buildi...,NaN,beginner,engineer,Python,120,4.6,800,https://www.udacity.com/course/ai-programming-...

In [23]:
df.to_csv('course_cleaned.csv')